<%= form_with(model: @tt, local: true) do |form| %>
  <% if @tt.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tt.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @tt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tt_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>